---
layout: default
title: "6 Simple Ways to Maintain Healthy Eating Habits This Holiday Season"
shortTitle: "6 healthy eating habits for the holidays"
date:   '2013-11-20'
isBlogPost: true
externalUrl: "http://isafyi.com/7-simple-ways-to-maintain-healthy-eating-habits-this-holiday-season/"

permalink: "/2013-11-20-six-simple-ways-to-maintain-healthy-eating-habits-this-holiday-season/"
---
    <div id="content-wrapper">
        <!-- titlebar -->
{% include title-bar.html %}
        <!-- end titlebar -->

        <!-- main page content -->
        <div class="container">
            <!-- twelve columns -->
            <div class="twelve alt columns">
                <!-- blog/news post -->
                <h3 class="headline">6 Simple Ways to Maintain Healthy Eating Habits This Holiday Season</h3>
                <span class="line" style="margin-bottom: 30px;"></span>
                <div class="clearfix"></div>

                <p>
                    <img class="image-right" src="/images/isagenix-blog-6-ways-to-maintain-healthy-eating-habits-this-holiday-season.jpg" alt="6 Simple Ways to Maintain Healthy Eating Habits This Holiday Season – IsaFyi.com" />
                    <span class="dropcap">T</span>he Holidays are almost upon us. The time of year marked by good cheer, good will toward all, not to mention good food. Too often, however, the holidays are marred by the stress of the season: getting your shopping done, hosting family, cooking for a small army and the weight gain that comes from all of it. Make this year different, and maintain your healthy eating habits all season long. You’ll look better and feel better so you can do something with your New Year’s resolution other than lose weight. If you’re worried about your eating habits this holiday season, follow these simple tips to avoid that post-holiday bloat!
                </p>
                <h3>1: Smaller is Better</h3>
                <p>Whether it’s a mint hot chocolate or a slice of homemade pie, the first bite is always the best. Don’t waste calories on a huge portion! If you choose to indulge, savor the flavor but don’t give yourself license to gorge!</p>
                <h3>2: Watch What You Drink</h3>
                <p>Liquid calories like sodas, sweetened iced teas and coffee beverages are often devious – they don’t fill you up so you feel like they “don’t count.” In fact, according to researchers at Johns Hopkins, reducing your liquid calorie intake has more impact on weight loss than reducing your solid calorie intake!</p>
                <h3>3: Drink Lots of Water</h3>
                <p>Staying hydrated is imperative. Drinking plenty of water helps to curb false hunger pangs, flush your body of toxins and keep your skin feeling fabulous. It’s also a great excuse to buy a cute new BPA-free reusable water bottle!</p>
                <h3>4: Practice Good Manners</h3>
                <p>Whether at home, at a restaurant or at a party, good table manners can protect your waistline! Cut only one bite at a time. Put your fork (or spoon) down between every bite. You’ll be able to better engage in conversation and give your body time to figure out when it’s full.</p>
                <h3>5: Get Moving</h3>
                <p>The holidays are supposed to be a happy time. If you’re finding them stressful, take some time to exercise and release some much-needed endorphins (and burn some calories)! Staff at the Mayo Clinic say, “virtually any form of exercise, from aerobics to yoga, can act as a stress reliever.” Don’t think of exercise as an obligation, think of it as a gift!</p>
                <h3>6: Remove Mindless Foods from Reach</h3>
                <p>The bread basket, the bowl of chips, that tray of homemade fudge…leaving large servings of foods within reach encourages mindless eating. Dr. Brian Wansink of <a href="http://www.apa.org/news/press/releases/2011/08/losing-weight.aspx" target="_blank" title="Mindless Eating: Losing Weight Without Thinking by Dr. Brian Wansink, PhD">Cornell University</a> found that moviegoers ate more popcorn when provided with a larger portion size rather than stopping when full. If you’re having a snack, pick a portion and stick to it.</p>

                <span class="line" style="margin: 30px 0 30px 0;"></span>
                <div class="clearfix"></div>
                <em>This entry was posted in <a href="http://isafyi.com/category/news/" title="View all posts in News" rel="category tag" target="_blank">News</a> and tagged <a href="http://isafyi.com/tag/healthy-eating-habits/" rel="tag" target="_blank">healthy eating habits</a>, <a href="http://isafyi.com/tag/healthy-tips/" rel="tag" target="_blank">healthy tips</a>, <a href="http://isafyi.com/tag/holidays/" rel="tag" target="_blank">holidays</a> by <a href="http://isafyi.com/author/meaghan-m/" target="_blank">Meaghan M.</a> on {{ page.date | date_to_string }}</em>
                <br />
                <em>Original source: <strong>http://isafyi.com/7-simple-ways-to-maintain-healthy-eating-habits-this-holiday-season/</strong></em>
                <!-- end blog/news post -->
            </div>
            <!-- end twelve columns -->

            <!-- sidebar (right side) -->
            <div class="four columns">

                <!-- About -->
                <div class="widget">
                    <h3 class="headline">About Us</h3>
                    <span class="line"></span>
                    <div class="clearfix"></div>
                    <p>Healthy, Lean and Fit brings together a group of fun goal driven individuals that have the same passion. We strive to live a healthier lifestyle while helping others... <a href="/about-us/">read more</a></p>
                </div>

                <!-- starter systems -->
                {% include widget-starter-systems.html %}
                <!-- end starter systems -->
            </div>
            <!-- end sidebar (right side) -->
        </div>
        <!-- end main page content -->
    </div>