---
layout: "default"
title: "Isagenix&reg; Blog"
permalink: "/"
description: "Our Isagenix blog has helpful articles, news and recipes from all major Isagenix websites and media sources in one easy place: The Healthy, Lean and Fit Blog."
---
    <div id="content-wrapper">
        <!-- titlebar -->
{% include title-bar.html %}
        <!-- end titlebar -->

        <!-- main page content -->
        <div class="container">
            <!-- twelve columns -->
            <div class="twelve alt columns">
{% for post in site.posts %}
                <!-- blog/news post -->
                <article class="post medium">
                    <div class="five alt columns alpha">
                        <figure class="post-img media">
                            <div class="mediaholder">
    {% if post.internalUrl %}
                                <a href="{{ post.internalUrl }}" title="Read full article over at our Isagenix Blog">
    {% else %}
                                <a href="{{ post.externalUrl }}" target="_blank" title="Read full article over at {{ post.externalSource }}">
    {% endif%}
                                    <img src="/images/{{ post.image }}" alt="{{ post.title }} – {{ post.externalSource }}"/>
                                    <div class="hovercover">
                                        <div class="hovericon"><i class="hoverlink"></i></div>
                                    </div>
                                </a>
                            </div>
                        </figure>
                    </div>
                    <div class="seven columns">
                        <section class="post-content">
                            <header class="meta">
                                <h2>
    {% if post.internalUrl %}
                                    <a href="{{ post.internalUrl }}" title="Read full article over at our Isagenix Blog">
    {% else %}
                                    <a href="{{ post.externalUrl }}" target="_blank">
    {% endif%}
                                        {{ post.title }}
                                    </a>
                                </h2>
                                <ul>
                                    <li>By {{ post.author }} - {{ post.date | date_to_string }}</li>
                                    <!-- <li><a href="#">0 Comments</a></li> -->
                                </ul>
                            </header>
                            {{ post.excerpt }}
    {% if post.internalUrl %}
                            <a href="{{ post.internalUrl }}" class="button color" title="Read full article over at our Isagenix Blog">Read More</a>
    {% else %}
                            <a href="{{ post.externalUrl }}" target="_blank" class="button color" title="Read full article over at {{ post.externalSource }}">Read More</a>
    {% endif%}
                        </section>
                    </div>
                    <div class="clearfix"></div>
                </article>
                <!-- end blog/news post -->
{% endfor %}

                <!-- blog pagination
                <nav class="pagination">
                    <ul>
                        <li><a href="#" class="current">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </nav>
                end blog pagination -->
            </div>
            <!-- end twelve columns -->

            <!-- sidebar (right side) -->
            <div class="four columns">

                <!-- About -->
                <div class="widget">
                    <h3 class="headline">About Us</h3>
                    <span class="line"></span>
                    <div class="clearfix"></div>
                    <p>Healthy, Lean and Fit brings together a group of fun goal driven individuals that have the same passion. We strive to live a healthier lifestyle while helping others... <a href="/about-us/">read more</a></p>
                </div>

                <!-- starter systems -->
                {% include widget-starter-systems.html %}
                <!-- end starter systems -->
            </div>
            <!-- end sidebar (right side) -->
        </div>
        <!-- end main page content -->
    </div>