	<!-- Footer
    ================================================== -->
    <div id="footer">

        <!-- Container -->
        <div class="container">

            <div class="four columns">
                <h3>About</h3>
                <p style="margin:0;">If you are seeking health, happiness, freedom or the combination of all three you have come to the right place. Your journey to a happier and healthier you begins right now.</p>
            </div>

            <div class="four columns">
                <h3>Twitter</h3>
                <ul id="twitter"></ul>
                <div class="clearfix"></div>
                <a href="https://twitter.com/HealthyLeanFit" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @HealthyLeanFit</a>
                
                <div class="clearfix"></div>
                <h3>Facebook</h3>
                <div class="fb-like-box" data-href="http://www.facebook.com/HealthyLeanAndFit" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false" data-width="280"></div>
            </div>

            <div class="four columns">
                <h3>Get In Touch</h3>
                <ul class="get-in-touch">
                    <li>
                        <i class="icon-map-marker"></i>
                        <p><strong>Address:</strong><br style="clear:both;" /> {{ site.footerAddress }}</p>
                    </li>
                    <li>
                        <i class="icon-user"></i>
                        <p><strong>Phone:</strong> {{ site.footerTelephone }}</p>
                    </li>
                    <li>
                        <i class="icon-envelope-alt"></i>
                        <p><strong>Email:</strong> <a href="mailto:{{ site.footerEmail }}">{{ site.footerEmail }}</a></p>
                    </li>
                </ul>
            </div>

            <div class="four columns">
                <h3>Partnered Links</h3>
                <ul>
                    <li><a href="http://www.fuelyourlife.tv/">Fuel Your Life</a></li>
                    <li><a href="http://www.oureztraining.com/">EZ Isagenix Training</a></li>
                    <li><a href="http://powerfulworkouts.com/">Powerful Workouts</a></li>
                </ul>
                <!-- <p>Join our mailing list to stay up to date and get notices about our new releases!</p>
                <form action="#" method="get">
                    <button class="newsletter-btn" type="submit">Join</button>
                    <input class="newsletter" type="text" onblur="if(this.value=='')this.value='mail@example.com';" onfocus="if(this.value=='mail@example.com')this.value='';" value="mail@example.com" />
                </form> -->
            </div>

        </div>
        <!-- Container / End -->

    </div>
    <!-- Footer / End -->

    <!-- Footer Bottom / Start -->
    <div id="footer-bottom">

        <!-- Container -->
        <div class="container">

            <div class="eight columns">© Copyright {{ %Y }} by <a class="no-click">Healthy, Lean and Fit</a>. All Rights Reserved.</div>
            <div class="eight columns">
                <ul class="social-icons-footer">
                    <li><a href="#" class="tooltip top" title="Twitter"><i class="icon-twitter"></i></a></li>
                    <li><a href="#" class="tooltip top" title="Facebook"><i class="icon-facebook"></i></a></li>
                    <li><a href="#" class="tooltip top" title="Dribbble"><i class="icon-dribbble"></i></a></li>
                    <li><a href="#" class="tooltip top" title="LinkedIn"><i class="icon-linkedin-rect"></i></a></li>
                    <li><a href="#" class="tooltip top" title="RSS"><i class="icon-rss"></i></a></li>
                </ul>
            </div>

        </div>
        <!-- Container / End -->

    </div>
    <!-- Footer Bottom / Start -->