    <!-- Header
    ================================================== -->
    <header id="header">

        <!-- Container -->
        <div class="container">

            <!-- Logo / Mobile Menu -->
            <div class="three columns">
            
                <div id="mobile-navigation">
                    <!-- <form method="GET" id="menu-search" action="#">
                        <input type="text" placeholder="Start Typing..." />
                    </form> -->
                    <a href="#menu" class="menu-trigger"><i class="icon-reorder"></i></a>
                    <!-- <span class="search-trigger"><i class="icon-search"></i></span> -->
                </div>

                <div id="logo">
                    <h1><a href="index.html"><img src="/images/logo-hlf.png" alt="Astrum" /></a></h1>
                </div>
            </div>


            <!-- Navigation
            ================================================== -->
            <div class="thirteen columns">

                <nav id="navigation" class="menu">
                    <ul id="responsive">
{% for navItem in site.mainNav %}
                        <li>
                            <a href="{{ navItem.urlSlug }}"{% if navItem.urlSlug == page.permalink %} id="current"{% endif %}>{{ navItem.title }}</a>
    {% if navItem.title == 'Success Stories' %}
                            <ul>
        {% for story in site.successStories %}
                                <li><a href="{{ navItem.urlSlug }}{{ story.slug }}">{{ story.name }}</a></li>
        {% endfor %}
                            </ul>
    {% endif %}
                        </li>
{% endfor %}
                        <!-- Search Form -->        
                        <!-- <li class="search-container">
                            <div id="search-form">
                                <form method="get" action="#">
                                    <input type="text" class="search-text-box" />
                                </form>
                            </div>
                        </li> -->
                    </ul>
                </nav>
            </div>
            <!-- Navigation / End -->

        </div>
        <!-- Container / End -->

    </header>
    <!-- Header / End -->