    <!-- include theme js files -->
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/jquery.themepunch.plugins.min.js"></script>
    <script src="/scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="/scripts/jquery.themepunch.showbizpro.min.js"></script>
    <script src="/scripts/jquery.easing.min.js"></script>
    <script src="/scripts/jquery.tooltips.min.js"></script>
    <script src="/scripts/jquery.magnific-popup.min.js"></script>
    <script src="/scripts/jquery.superfish.js"></script>
    <script src="/scripts/jquery.twitter.js"></script>
    <script src="/scripts/jquery.flexslider.js"></script>
    <script src="/scripts/jquery.jpanelmenu.js"></script>
    <!-- <script src="/scripts/jquery.contact.js"></script> -->
    <script src="/scripts/jquery.isotope.min.js"></script>
    <script src="/scripts/custom.js"></script>
{% if page.loadMapEsentials %}
    <!-- Google Maps -->
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/scripts/jquery.gmaps.min.js"></script>
{% endif %}
{% if page.loadExtraJs %}{% for jsFile in page.loadExtraJs %}    <script src="/scripts/{{ jsFile }}.js"></script>
{% endfor %}{% endif %}
    <!-- Twittle plugin -->
    <script>
        !function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
            if(!d.getElementById(id)){
                js=d.createElement(s);
                js.id=id;
                js.src=p+'://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js,fjs);
            }
        }(document, 'script', 'twitter-wjs');
    </script>