    <!-- include theme js files -->
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/jquery.themepunch.plugins.min.js"></script>
    <script src="/scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="/scripts/jquery.themepunch.showbizpro.min.js"></script>
    <script src="/scripts/jquery.easing.min.js"></script>
    <script src="/scripts/jquery.tooltips.min.js"></script>
    <script src="/scripts/jquery.magnific-popup.min.js"></script>
    <script src="/scripts/jquery.superfish.js"></script>
    <script src="/scripts/jquery.twitter.js"></script>
    <script src="/scripts/jquery.flexslider.js"></script>
    <script src="/scripts/jquery.jpanelmenu.js"></script>
    <script src="/scripts/jquery.contact.js"></script>
    <script src="/scripts/jquery.isotope.min.js"></script>
    <script src="/scripts/custom.js"></script>
{% if page.loadExtraJs %}{% for jsFile in page.loadExtraJs %}    <script src="/scripts/{{ jsFile }}.js"></script>
{% endfor %}{% endif %}