    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{ page.title }} &#9733; {{ site.name }} &#9733; Isagenix</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors/green.css" id="colors">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Java Script
    ================================================== -->
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/jquery.themepunch.plugins.min.js"></script>
    <script src="/scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="/scripts/jquery.themepunch.showbizpro.min.js"></script>
    <script src="/scripts/jquery.easing.min.js"></script>
    <script src="/scripts/jquery.tooltips.min.js"></script>
    <script src="/scripts/jquery.magnific-popup.min.js"></script>
    <script src="/scripts/jquery.superfish.js"></script>
    <script src="/scripts/jquery.twitter.js"></script>
    <script src="/scripts/jquery.flexslider.js"></script>
    <script src="/scripts/jquery.jpanelmenu.js"></script>
    <script src="/scripts/jquery.contact.js"></script>
    <script src="/scripts/jquery.isotope.min.js"></script>
    <script src="/scripts/custom.js"></script>