				<div class="widget" style="margin: 40px 0 0 0;">
                    <h3 class="headline">Isagenix Starter Systems</h3>
                    <span class="line"></span>
                    <div class="clearfix"></div>

                    <!-- content -->
                    <div class="tabs-container">
                        <!-- popular products -->
                        <div class="tab-content" id="tab1">
                            <ul class="widget-tabs">
                                <li>
                                    <div class="widget-thumb">
                                        <a href="{{ site.nineDayCleanse.url }}" title="{{ site.nineDayCleanse.keywords }}">
                                            <img src="/images/hlf-widget-isagenix-9-day-deep-cleanse.jpg" alt="{{ site.nineDayCleanse.keywords }}" />
                                        </a>
                                    </div>
                                    <div class="widget-text">
                                        <h4>
                                            <a href="{{ site.nineDayCleanse.url }}" title="{{ site.nineDayCleanse.keywords }}">{{ site.nineDayCleanse.widgetTitle }}</a>
                                        </h4>
                                        <span><a href="{{ site.nineDayCleanse.url }}" title="{{ site.nineDayCleanse.keywords }}">Learn more</a></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="widget-thumb">
                                        <a href="{{ site.thirtyDayCleanse.url }}" title="{{ site.thirtyDayCleanse.keywords }}">
                                            <img src="/images/hlf-widget-isagenix-30-cleansing-fat-burning-system.jpg" alt="{{ site.thirtyDayCleanse.keywords }}" />
                                        </a>
                                    </div>
                                    <div class="widget-text">
                                        <h4>
                                            <a href="{{ site.thirtyDayCleanse.url }}" title="{{ site.thirtyDayCleanse.keywords }}">{{ site.thirtyDayCleanse.widgetTitle }}</a>
                                        </h4>
                                        <span><a href="{{ site.thirtyDayCleanse.url }}" title="{{ site.thirtyDayCleanse.keywords }}">Learn more</a></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="widget-thumb">
                                        <a href="{{ site.thirtyDayPerformance.url }}" title="{{ site.thirtyDayPerformance.keywords }}">
                                            <img src="/images/hlf-widget-isagenix-30-performance-system.jpg" alt="{{ site.thirtyDayPerformance.keywords }}" />
                                        </a>
                                    </div>
                                    <div class="widget-text">
                                        <h4>
                                            <a href="{{ site.thirtyDayPerformance.url }}" title="{{ site.thirtyDayPerformance.keywords }}">{{ site.thirtyDayPerformance.widgetTitle }}</a>
                                        </h4>
                                        <span><a href="{{ site.thirtyDayPerformance.url }}" title="{{ site.thirtyDayPerformance.keywords }}">Learn more</a></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="widget-thumb">
                                        <a href="{{ site.presidentPak.url }}" title="{{ site.presidentPak.keywords }}">
                                            <img src="/images/hlf-widget-isagenix-presidents-pak-system.jpg" alt="{{ site.presidentPak.keywords }}" />
                                        </a>
                                    </div>
                                    <div class="widget-text">
                                        <h4>
                                            <a href="{{ site.presidentPak.url }}" title="{{ site.presidentPak.keywords }}">{{ site.presidentPak.widgetTitle }}</a>
                                        </h4>
                                        <span><a href="{{ site.presidentPak.url }}" title="{{ site.presidentPak.keywords }}">Learn more</a></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                        <!-- end popular products -->
                    </div>
                </div>